<div class="testimonios" id="Testimonios">
    <h1 class="titulo">Testimonios</h1>
    <div class="testimonios-container">
            <div class="testimonio">
                <h3 class="persona">Carla M.</h3>
                <p>"SnackSphere ha sido un cambio total en mi rutina diaria. La caja de Energía es perfecta para mis días largos de trabajo. Los snacks son naturales y deliciosos, y me mantienen activa sin sentirme culpable. ¡No puedo esperar cada mes para recibir la próxima caja!"</p>
            </div>
            <div class="testimonio">
                <h3 class="persona">Ana P.</h3>
                <p>"Me encanta la variedad de snacks saludables que recibo con la caja Detox. Me ha ayudado a mantener un estilo de vida más equilibrado, sin tener que preocuparme por qué comer entre comidas. Además, las porciones son ideales para llevar al trabajo o de viaje."
                </p>
            </div>
            <div class="testimonio">
                <h3 class="persona">Luis R.</h3>
                <p>"La caja de SnackSphere es mi solución perfecta para los antojos. Los snacks no solo son ricos, sino que también son nutritivos y variados. Me gusta mucho la atención al detalle y la calidad de los productos, además de que me ayudan a seguir una dieta saludable."</p>
            </div>   
        </div>
    </div>
