<header class="cabecera">

    <div class="logo">
        <a class="logolink" href="#">
            <img class="logoimg" src="bitmap.png" alt="Logo empresarial">
            <h1>nackSphere</h1>
        </a>
    </div>
        <nav class="navegacion"> 
                <li><a href="#Beneficios">Beneficios</a></li>
                <li><a href="#Productos">Productos</a></li>
                <li><a href="#Testimonios">Testimonios</a></li>
                <li><a href="#Suscripción">Suscripción</a></li>
                <li><a href="#FAQ">FAQ</a></li>
        </nav>
        
</header>