<div class="content" id="Productos">
    <h1 class="titulo">Nuestros productos</h1>
    <div class="img-grid">
        <img src="productos.webp" alt="">
        <img src="productos2.webp" alt="">
    </div>
    <div class="productos-grid">
        
            <div class="card-body">
                <h2 class="card-title">Snak Detox</h2>
                <p class="card-text">Ideal para quienes buscan desintoxicar su cuerpo de manera natural. La Caja Detox está repleta de productos que ayudan a purificar y revitalizar tu organismo, como tés desintoxicantes, frutos secos antioxidantes y snacks ricos en fibra. Perfecta para equilibrar tu dieta diaria con alimentos naturales y ligeros.</p>
            </div>

            <div class="card-body">
                
                <h2 class="card-title">Snak Energía</h2>
                <p class="card-text">Perfecta para aquellos que buscan un impulso natural durante el día. La Caja Energía contiene snacks ricos en proteínas y carbohidratos complejos que te mantendrán activo. Desde barras energéticas hasta nueces y frutas secas, esta caja es tu compañera ideal para mantenerte en marcha sin sacrificar la salud.</p>
            </div>
       

            <div class="card-body">
                <h2 class="card-title">Snak Equilibrio</h2>
                <p class="card-text">Si buscas lo mejor de ambos mundos, la Caja Equilibrio es para ti. Con una mezcla de snacks energéticos y opciones desintoxicantes, esta caja ofrece una combinación perfecta para mantener el equilibrio en tu dieta sin perder de vista el sabor y la nutrición.</p>
            </div>
        </div>
    </div>
  